# Session 1 Homework

## Question 1

What is the version of Numpy you installed?

In [2]:
import numpy as np

print(np.__version__)

1.21.5

## Loading the Data

It can be downloaded from [the course github](https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv)

In [7]:
import pandas as pd

df = pd.read_csv("data.csv")

df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 2

How many records has the dataset?

In [3]:
print(len(df))

11914

## Question 3

What are the most frequent car manufacturers? (top 3)

> **Note**: You should rely on "Make" column in this question.

In [6]:
(df["Make"]
    .value_counts()
    .sort_values(ascending=False)
    .head(3))

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

## Question 4

What's the number of unique Audi car models in the dataset?

In [9]:
audi_mask = df["Make"]=="Audi"
len(df[audi_mask]["Model"].unique())

34

## Question 5

How many columns in the dataset have missing values?

In [14]:
df.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [13]:
(df.isna().sum() > 0).sum()

5

## Question 6

1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the `fillna` method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

> Hint: refer to existing `mode` and `median` functions to complete the task.

In [18]:
median = df["Engine Cylinders"].median()
print("meadian", median)
mode = df["Engine Cylinders"].mode().squeeze()
print("mode", mode)

engine_cylinders = df["Engine Cylinders"].copy().fillna(mode)
new_median = engine_cylinders.median()
print("new median", new_median)

print("did it changed?", median != new_median)

meadian 6.0
mode 4.0
new median 6.0
did it changed? False

## Question 7

1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Invert `XTX`.
7. Create an array `y` with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the value of the first element of `w`?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

In [47]:

# using the matmul operator @

lotus_df = df[df["Make"] == "Lotus"]
lotus_engine_cols = lotus_df[["Engine HP", "Engine Cylinders"]]
lotus_engine_cols = lotus_engine_cols.drop_duplicates()
print("ok so far?", len(lotus_engine_cols) == 9)

X = lotus_engine_cols.values
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)

y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
w = XTX_inv @ X.T @ y

print(f"{w[0]=:.4f}")

ok so far? True
w[0]=4.5949